*
!config/config.yml
!config/samples.tsv
!config/units.tsv
!environment.yml
!LICENSE
!README.md
data
data/*
results
results/*
!workflow
!workflow/*
!workflow/**
workflow/scripts/.snakemake*
!.gitignore
!.editorconfig
!.gitattributes
!.gitlab-ci.yml
!.test
!.test/**
!.test/data
